# uncomment for external testing
# allow from all

# Redirect from old webpage to new
# RedirectMatch 301 /oldpage/(.*) http://www.mysite.com/newpage/

# #BEGIN Compress text files
# <ifModule mod_deflate.c>
#   AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
#   AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml
#   AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
#   AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
#   AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
#   AddOutputFilterByType DEFLATE font/truetype font/opentype
# </ifModule>


## ------------------------------------------------------------------------------
## | Expires headers (for better cache control)                                 |
## ------------------------------------------------------------------------------
#
## The following expires headers are set pretty far in the future. If you don't
## control versioning with filename-based cache busting, consider lowering the
## cache time for resources like CSS and JS to something like 1 week.
#
#<IfModule mod_expires.c>
#
#    ExpiresActive on
#    ExpiresDefault                                      "access plus 1 month"
#
#  # CSS
#    ExpiresByType text/css                              "access plus 1 week"
#
#  # Data interchange
#    ExpiresByType application/json                      "access plus 0 seconds"
#    ExpiresByType application/xml                       "access plus 0 seconds"
#    ExpiresByType text/xml                              "access plus 0 seconds"
#
#  # Favicon (cannot be renamed!)
#    ExpiresByType image/x-icon                          "access plus 1 month"
#
#  # HTML components (HTCs)
#    ExpiresByType text/x-component                      "access plus 1 month"
#
#  # HTML
#    ExpiresByType text/html                             "access plus 0 seconds"
#
#  # JavaScript
#    ExpiresByType application/javascript                "access plus 1 week"
#
#  # Manifest files
#    ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
#    ExpiresByType text/cache-manifest                   "access plus 0 seconds"
#
#  # Media
#    ExpiresByType audio/ogg                             "access plus 1 week"
#    ExpiresByType image/gif                             "access plus 1 week"
#    ExpiresByType image/jpeg                            "access plus 1 week"
#    ExpiresByType image/png                             "access plus 1 week"
#    ExpiresByType video/mp4                             "access plus 1 week"
#    ExpiresByType video/ogg                             "access plus 1 week"
#    ExpiresByType video/webm                            "access plus 1 week"
#
#  # Web feeds
#    ExpiresByType application/atom+xml                  "access plus 1 hour"
#    ExpiresByType application/rss+xml                   "access plus 1 hour"
#
#  # Web fonts
#    ExpiresByType application/font-woff                 "access plus 11 month"
#    ExpiresByType application/vnd.ms-fontobject         "access plus 11 month"
#    ExpiresByType application/x-font-ttf                "access plus 11 month"
#    ExpiresByType font/opentype                         "access plus 11 month"
#    ExpiresByType image/svg+xml                         "access plus 1 month"
#
#</IfModule>#